<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.reagent.neurosymbolic</string>
    <key>ProgramArguments</key>
    <array>
        <string>/usr/bin/python3</string>
        <string>/Users/thyfriendlyfox/Projects/neuro-symbolic-rule-discovery/supervisor.py</string>
    </array>
    <key>WorkingDirectory</key>
    <string>/Users/thyfriendlyfox/Projects/neuro-symbolic-rule-discovery</string>
    <key>StartCalendarInterval</key>
    <array>
        <dict><key>Minute</key><integer>0</integer></dict>
        <dict><key>Minute</key><integer>10</integer></dict>
        <dict><key>Minute</key><integer>20</integer></dict>
        <dict><key>Minute</key><integer>30</integer></dict>
        <dict><key>Minute</key><integer>40</integer></dict>
        <dict><key>Minute</key><integer>50</integer></dict>
    </array>
    <key>StandardOutPath</key>
    <string>/Users/thyfriendlyfox/Projects/neuro-symbolic-rule-discovery/supervisor.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/thyfriendlyfox/Projects/neuro-symbolic-rule-discovery/supervisor.log</string>
    <key>RunAtLoad</key>
    <true/>
</dict>
</plist>
